.main .content{
    display: block;
    align-items: center;
    padding: 0;
}
.main .content .container{
    width: 100%;
    padding: 0;
    margin: 5% 0;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0% 2% 5% 2%;
}
.content .container .logo{
    width: 70%;
    margin: 5% 15%;
    
}
.container .logo img{
    width: 100%;
    height: 100%;
}
.container p{
    font-weight: bold;
    text-align: center;
    margin: 0 0 5% 0;
}
.content .container a{
    text-decoration: none;
    text-align: center;
    padding: 2% 7%;
    background: rgb(14, 14, 134);
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    /* margin: 50% 0; */
}
.dark-mode .content .container a{
    background: black;
    border: 2px solid gray;
}
.content .container a:hover{
    opacity: 0.8;
}