.main .title-label {
  /* display: none; */
  display: flex;
  justify-content: space-between;
}
.main .title-label a {
  margin-right: 3%;
  border: 1px solid;
  color: #fff;
  padding: 1% 5%;
  border-radius: 5px;
  text-decoration: none;
}
.main .title-label a:hover {
  opacity: 0.8;
}
.main-content .section-2 .main {
  width: 100%;
}
.section-2 .main .head {
  background: #6052d8;
  display: flex;
  margin: 0 5%;
}
.dark-mode .section-2 .main .head {
  background: #000;
  border: 1px solid gray;
}
.section-2 .main .head ul {
  width: 100%;
  display: flex;
  padding: 3% 5%;
  list-style: none;
  justify-content: space-between;
  justify-items: left;
}
.section-2 .main .head ul li hr {
  /* border-bottom: 1px solid #fff; */
  width: 120%;
  margin-top: 5px;
}
.section-2 .main .head ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.section-2 .main .head ul li a:hover {
  opacity: 0.6;
}
.section-2 .main .content {
  margin: 0 5%;
  /* border: 1px solid; */
}
.section-2 .main .content .span {
  border: 1.5px solid gray;
  width: 100%;
  margin: 2% 0;
  padding: 4% 2%;
  /* align-items: center; */
  display: grid;
  grid-template-columns: 15% 60% 25%;
}
.section-2 .main .content .span .middle p {
  font-weight: bold;
  opacity: 0.7;
}
.section-2 .main .content .span .left {
  background: darkblue;
  align-items: center;
  display: grid;
  /* padding: 20% 3%; */
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.dark-mode .section-2 .main .content .span .left {
  background: #000;
  border: 1px solid gray;
}
.section-2 .main .content .span .left p {
  text-align: center;
}
.section-2 .main .content .span .middle {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  /* width: 100%; */
  /* justify-content: space-between; */
}
.section-2 .main .content .span .middle h3,
.section-2 .main .content .span .middle p {
  margin: 3px 0;
}
.section-2 .main .content .span .right {
  display: grid;
  grid-template-columns: 100px;
  /* border: 1px solid; */
  /* align-items: center; */
}
.section-2 .main .content .span .right a {
  display: grid;
  width: 100%;
  align-items: center;
  margin: 0 0 0 10%;
  text-decoration: none;
}
.section-2 .main .content .span .right a button {
  background: #fff;
  padding: 5% 9px;
  border: 2px solid gray;
  border-radius: 3px;
  outline: none;
  color: #ff5202;
  font-weight: bold;
  cursor: pointer;
}
.dark-mode .section-2 .main .content .span .right a button {
  color: rgb(0, 255, 255);
  background: #000;
}
.section-2 .main .content .span .right a button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .section-2 .main .content .span {
    grid-template-columns: 15% 50% 35%;
    margin: 7% 0;
  }
  .main-content #hide-menu {
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 5% 93%;
  }
  .main-content #hide-menu .right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid; */
    width: 100%;
  }
  .main-content #hide-menu .right a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5% 2%;
    border: 1px solid #fff;
    border-radius: 2px;
  }
  .main-content #hide-menu .right a:hover {
    opacity: 0.7;
  }
  .main-content #hide-menu .left {
    width: 100%;
  }
}
@media screen and (max-width: 835px) {
  .section-2 .main .content .span {
    margin: 7% 0;
    font-size: 15px;
  }
}
@media screen and (max-width: 777px) {
  .section-2 .main .content .span {
    margin: 10% 0;
    font-size: 13px;
  }
}
/* This   is   where the mobile view starts */
@media screen and (max-width: 720px) {
  .main-content {
    display: block;
  }
  .main-content .section-2 .main {
    display: block;
  }
  .section-2 .main .content .span {
    margin: 5% 0;
    font-size: 15px;
  }
}
@media screen and (max-width: 390px) {
  .section-2 .main .content .span {
    margin: 5% 0;
    font-size: 10px;
    grid-template-columns: 10% 50% 40%;
  }
  .section-2 .main .content .span .right a button {
    font-size: 12px;
    margin-right: 12%;
  }
  .section-2 .main .head ul li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 300px) {
  .section-2 .main .content .span {
    margin: 5% 0;
    font-size: 7px;
  }
}
