* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body,
html {
  overflow-x: hidden;
}
.dark-mode {
  background-color: #010101;
  color: #fff;
}

/* Dark Mode */
.dark-mode p {
  /* Dark mode text color for paragraphs */
  color: #fff;
}

.dark-mode label {
  color: #f1f1f1;
}
.dark-mode div {
  color: #ffffff;
}

.dark-mode span {
  color: #ffffff;
}
.dark-mode .row a h1 {
  color: #fff;
}
.dark-mode .row a button:hover {
  color: #555353;
}
.dark-mode .footer .buttons select {
  color: #fff;
  background: #000;
}
.dark-mode .header .search input {
  background-color: #312e2e;
  border: 0px;
}
.dark-mode .logout-btn button {
  background-color: #312e2e;
  color: #fff;
}
.dark-mode #toggle .nav-links {
  background: #000;
}
.dark-mode .faqs .faqs-row p:hover {
  opacity: 0.4;
}
.dark-mode .header .search i {
  color: #fff;
}
.dark-mode .other-links .columns .row1 .col h4 {
  color: #ffffff;
}
.dark-mode .about {
  border: 1px solid rgb(74, 73, 73);
}
.dark-mode .main-content .about {
  background-color: #000000;
  background-image: linear-gradient(
    to bottom,
    rgba(38, 38, 39, 0.4),
    rgba(0, 0, 0, 0.9)
  );
}
.dark-mode .account-info #hidden-links-header {
  background-color: #141212;
}
.dark-mode .about img {
  display: block;
}
.dark-mode a {
  color: #fff;
}
.dark-mode .footer {
  background-color: #000;
  border-top: 1px solid;
}
.dark-mode .header {
  background-color: #141212;
}

.dark-mode .container {
  border-color: #121111; /* Dark mode border color */
}
.dark-mode .buttons button,
.dark-mode .buttons select {
  color: #000;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #393794;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.logo {
  width: 10%;
  margin-left: 1%;
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  width: 25%;
  margin-left: 0;
}

.search form {
  display: flex;
  background-color: #f1f1f1;
  border-radius: 50px;
  width: 100%;
}

form .input {
  border: none;
  background-color: #f1f1f1;
  border-radius: 50px;
  width: 100%;
  height: 5vh;
  color: #000000;
  font-size: 13px;
}

.dark-mode form .input {
  color: #f1f1f1;
}

.search i {
  margin-left: -7%;
  color: blue;
}
.nav-links {
  display: flex;
  align-items: center;
  width: 50%;
}
.nav-links ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
}

.nav-links ul li {
  text-decoration: none;
  font-size: large;
  margin: 2px 3%;
}

.nav-links ul li:hover {
  opacity: 0.4;
  transition: ease-in-out 0.4s;
}
.nav-links .left-links {
  width: 50%;
  height: 90%;
  margin-left: 2%;
  margin-top: -30px;
}
.nav-links .left-links li {
  height: 15%;
}
.left-links li i {
  width: 20px;
}
.nav-links .left-links li a {
  margin: 0 0 0 4%;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.logout-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: 1%;
  width: 10%;
}

.logout-btn .login-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
  padding: 5% 25%;
  font-weight: bold;
  color: blue;
  text-decoration: none;
  background-color: #d4d3f6;
}

.logout-btn button:hover {
  opacity: 0.4;
  transition: ease-in-out 0.4s;
}
.toggle-menu {
  display: none;
  color: #fff;
  cursor: pointer;
}

.toggle-menu .visible i {
  display: flex;
  align-items: center;
  color: #fff;
  border-radius: 4px;
}
.toggle-menu .visible i:hover {
  opacity: 0.4;
  transition: ease-in-out 0.4s;
}

.container {
  height: 100%;
  width: 100%;
}

.main-content {
  width: 100%;
  height: auto;
}

.toggle-menu #toggle {
  display: none;
}
.account {
  display: flex;
  flex-direction: column;
  margin-top: -250px;
  margin-left: auto;
  right: 2.5%;
  position: absolute;
  left: 60%;
  width: 39%;
  z-index: 1;
  height: 70%;
}

.account .tggl-icon {
  display: flex;
  height: 25%;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  margin-right: 5%;
  margin-left: auto;
  z-index: 1;
}

.account .toggle-dropdown {
  margin-right: 2%;
}
.account-info {
  display: block;
  flex-direction: column;
  margin-top: 50px;
  margin-left: auto;
  right: 2.5%;
  position: absolute;
  left: 60%;
  width: 15%;
  z-index: 1;
  height: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.account-info .tggl-icon {
  display: flex;
  height: 25%;
  align-items: center;
  width: 100%;
  z-index: 1;
  /* border: 1px solid; */
}
.account-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  margin-right: 5%;
  margin-left: auto;
  z-index: 1;
}
.account-info .toggle-dropdown {
  margin-right: 2%;
}
#hidden-links i {
  margin-left: 15px;
  margin-top: 2px;
}
#hidden-links {
  display: none;
  width: 100%;
  height: 80%;
  margin-top: -55px;
}

/* Account */
#hidden-links-header i {
  margin-left: 15px;
  margin-top: 2px;
  color: #fff;
}
#hidden-links-header {
  display: none;
  width: 100%;
  margin-top: 20px;
  background-color: #393794;
  margin-left: 0;
  border: 1px solid;
}
.account-info #hidden-links-header ul {
  width: 100%;
  margin-left: auto;
  display: block;
  height: 140px;
}
.account-info #hidden-links-header ul li {
  display: flex;
  flex-direction: row-reverse;
  margin: 5% 10% 0 auto;
}
.account-info #hidden-links-header ul li a {
  font-size: 12px;
  color: #fff;
}
.account-info #hidden-links-header ul li {
  color: #fff;
}

.account-info #hidden-links-header ul li {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.account-info .tggl-icon .toggle-dropdown i {
  color: #fff;
}
.account-info #hidden-links-header ul li img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
}
.account-info #hidden-links-header ul li i {
  color: #fff;
}

.account #hidden-links ul {
  width: 100%;
  margin-left: auto;
  margin-top: 30%;
}
.account #hidden-links ul li {
  display: flex;
  flex-direction: row-reverse;
  margin: 5% 10% 0 auto;
}
.account #hidden-links ul li a {
  font-size: 1px;
  color: #fff;
}

.account #hidden-links ul li {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.account #hidden-links ul li img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-items: center;
}

/* Footer */
.footer {
  background-color: #393794;
  width: 100%;
  /* margin-top: -1%; */
  padding-bottom: 20px;
}
.social-links {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
.social-links .logo {
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: auto;
  margin-left: 2%;
}
.icon {
  display: flex;
  width: 55%;
  margin-left: auto;
  margin-right: 2%;
}
.icon ul {
  display: flex;
  width: 100%;
  margin-left: auto;
}
.icon ul li {
  list-style: none;
  width: 25%;
  text-align: right;
}

.icon ul li a span {
  margin-left: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: right;
}

.icon ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  float: right;
}
.icon ul li i {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.other-links {
  width: 100%;
  /* border: 1px solid red; */
}
.other-links .columns {
  width: 100%;
  /* border: 1px solid red; */
}
.columns .row1 {
  width: 45%;
  display: inline-flex;
  align-items: center;
  color: #fff;
  margin: 0 2%;
  /* border: 1px solid; */
}
.col {
  flex: 50%;
}
.col h4 {
  margin-top: 20px;
  margin-bottom: 4px;
  color: aqua;
}
.col ul {
  margin-left: 0%;
}
.col ul li {
  list-style: none;
}

.col ul li a {
  text-decoration: none;
  color: #fff;
  transition: ease-in 0.3s;
}
.col ul li a:hover {
  opacity: 0.7;
}

.copyright {
  color: #fff;
  /* border: 1px solid red; */
  /* margin-top: 90px; */
}

.copyright p {
  font-size: small;
  text-align: center;
  margin: 30px 1% 30px 0%;
}
.copyright button,
.lngs {
  cursor: pointer;
  border-radius: 7px;
  padding: 3% 1%;
  font-weight: bold;
  color: blue;
  margin: 0 30%;
  width: 150px;
}
.copyright button:hover,
.lngs:hover {
  color: #fff;
  background-color: #454343;
  transition: ease 0.4s;
}
.copyright .buttons {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
}
.copyright .buttons .left,
.copyright .buttons .right {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}

.copyright .buttons .left span,
.copyright .buttons .right select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* height: 50%; */
  width: 30%;
  cursor: pointer;
  border: 1px solid rgb(121, 120, 120);
  text-align: center;
  padding: 2% 5%;
  border-radius: 3px;
}
.copyright .buttons .left span:hover {
  opacity: 0.7;
}

/* Respomsive Media Query : Responsive */
@media screen and (max-width: 1330px) {
  .nav-links ul li {
    font-size: 17px;
  }
  .about {
    height: 270px;
  }
  .about h1 {
    margin-top: 10px;
  }
  .about h2 {
    font-size: 20px;
  }

  .top-stories {
    margin-top: -1px;
  }
  .icon ul li i {
    font-size: 20px;
    display: flex;
  }
  .icon ul {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .icon ul li span {
    font-size: 12px;
  }

  .row1 {
    width: 45%;
  }

  /* About Flyer */
  .about {
    width: 100%;
  }

  .about h1 {
    font-size: 25px;
  }

  .about h1 span {
    font-size: 21px;
  }
  .about h2 {
    font-size: 15px;
  }
  .about img {
    height: 78%;
  }

  /* Movies and Serie Soans */
  .caption p {
    font-size: 18px;
    margin-top: 340px;
  }
  .rate p {
    color: blue;
    font-size: small;
  }
  .rate span {
    font-size: larger;
  }
  .rate span i {
    font-size: small;
  }
}

/* Media Query : Nest Hub Max */
@media screen and (max-width: 1280px) {
  .header .search input {
    font-size: smaller;
  }
  .header .nav-links ul li {
    font-size: 16px;
  }
  .row1 {
    width: 45%;
  }
}

/* Media Query : Nest Hub */
@media screen and (max-width: 1024px) {
  .header .search input {
    font-size: 10px;
  }
  .header .search i {
    margin-left: -10%;
  }
  .header .nav-links ul li {
    margin: 2px 3.5% 2px 4%;
    font-size: 16px;
  }
}

/* Media Query : Surface Pro 7 */
@media screen and (max-width: 912px) {
  .header .search {
    width: 28%;
  }
  .header .nav-links ul li {
    margin: 2px 3% 2px 3.5%;
    font-size: 15px;
  }
  .about .text {
    /* border: 1px solid; */
    width: 80%;
  }
}

/* Media Query :  iPad Air */
@media screen and (max-width: 820px) {
  .header .search {
    width: 28%;
  }
  .header .search input {
    font-size: 9px;
  }
  .header .nav-links ul li {
    margin: 2px 2.8% 2px 2.3%;
    font-size: 15px;
  }
  .about .text h1 {
    /* border: 1px solid; */
    width: 110%;
  }

  .top-stories {
    top: 260px;
  }
  .upcoming-events {
    margin-top: -2%;
    height: 480px;
  }
  .rows .row a h1 {
    font-size: 17.3px;
  }
  .rows .row a button {
    font-size: xx-small;
  }

  /*Movies and    Series Span  */
}

/* Media Query iPad Mini */
@media screen and (max-width: 768px) {
  .header .search {
    width: 28%;
  }
  .header .search input {
    font-size: 8.5px;
  }
  .header .nav-links ul li {
    margin: 2px 2.8% 2px 2.3%;
    font-size: 14px;
  }
  /* About Flyer */
  .about {
    width: 100%;
  }
  .about h1 {
    font-size: 22px;
    /* margin-top: 60px; */
  }
  .rows .row a h1 {
    font-size: 14.3px;
  }
  .rows .row a button {
    font-size: xx-small;
  }
}

/* This   is   where the mobile view starts */
@media screen and (max-width: 720px) {
  .header {
    width: 100%;
    /* background-color: red; */
  }
  .logo {
    width: 70%;
    display: flex;
    align-items: center;
  }
  .header .search {
    width: 300%;
    margin-left: 10%;
  }
  .search input {
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 5px;
  }
  .toggle-menu {
    display: flex;
  }
  .visible {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: -1%;
    width: 20%;
  }

  .visible i {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    border-radius: 7px;
    margin: 5% 25%;
    font-weight: bold;
    color: blue;
  }
  .hide {
    visibility: hidden;
    display: none;
  }

  #toggle .nav-links {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    width: 100%;
    height: 300px;
    background-color: #393794;
    z-index: 1;
  }

  #toggle .nav-links ul {
    display: block;
  }
  #toggle .nav-links ul li a {
    font-size: 13px;
  }
  #toggle .nav-links ul li:hover {
    opacity: 0.5;
    transition: ease-in 0.2s;
  }

  .nav-links ul li {
    display: flex;
    align-items: center;
    height: 30px;
  }
  .logout-btn button {
    display: none;
    float: right;
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 11px;
  }
  .toggle-menu {
    display: flex;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .icon a i {
    font-size: 5px;
  }
  .icon ul li a span {
    display: none;
  }

  .col h4 {
    font-size: smaller;
  }
  .col ul li a {
    font-size: smaller;
  }
}

/* Media Query : Surface Duo */
@media screen and (max-width: 540px) {
  .header {
    width: 100%;
  }
  .logo {
    width: 150%;
    display: flex;
    align-items: center;
  }
  .header .search {
    width: 550%;
    margin-left: 5%;
  }
  .header .search input {
    font-size: 13px;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  .visible {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 15%;
    width: 20%;
  }

  .faqs .title {
    margin-top: -8%;
  }

  /* Other-links */
  .row1 {
    width: 137%;
  }
}

/* Media Query : iPhone XR(414) and Samsung Galaxy A51/71*/
@media screen and (max-width: 414px) {
  .header .search {
    width: 500%;
    margin-left: 5%;
  }
  .header .search input {
    font-size: 10px;
  }
  .search i {
    margin-left: -15%;
    font-size: large;
  }
  .visible {
    margin-right: 15%;
    width: 20%;
  }
  /* Other-links */
  .other-links {
    width: 98%;
  }
  .other-links .columns {
    display: block;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
  }
  .columns .row1 {
    width: 120%;
    display: flex;
  }
}

/* Media Query : Pixel 5 and iPhone 12 Pro*/
@media screen and (max-width: 393px) {
  .search input {
    font-size: 10px;
  }
  .visible {
    margin-right: 22%;
    width: 20%;
  }
}

/* Media Query : iPhone SE */
@media screen and (max-width: 375px) {
  .header .search input {
    font-size: 9px;
  }
  .header .search i {
    font-size: large;
    margin-left: -12%;
  }
}
/* Media Query : Samsung Galaxy S8*/
@media screen and (max-width: 360px) {
  .header .search {
    width: 500%;
    margin-left: 2%;
  }
  .search input {
    font-size: 9px;
  }
  .search i {
    margin-left: -10%;
    font-size: small;
  }
  .visible {
    margin-right: 22%;
    width: 15%;
  }
  /* Other-links */
  .row1 {
    width: 110%;
  }
}

/* Media Query : Galaxy Fold*/
@media screen and (max-width: 280px) {
  .header .search {
    width: 500%;
    margin-left: 2%;
  }
  .header .search input {
    font-size: 7px;
  }
  .search i {
    margin-left: -10%;
    font-size: small;
  }
  .visible {
    margin-right: 25%;
    width: 20%;
  }
  /* Other-links */
  .row1 {
    width: 100%;
  }
}
